# ──────────────────────────────────────────────
# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store

# IDE-specific
.idea/
*.iml
*.ipr
*.iws

# VS Code
# .vscode/  # 원할 경우 주석 해제

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android
/android/app/debug
/android/app/profile
/android/app/release

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Cache & compiled
__pycache__/
*.pyc
*.pyo
*.pyd

# Env & temp
*.env
temp_files/

# 🔒 Secret keys
MoDitFlask/config/serviceAccountKey.json
